<%- await include('views/templates/head.ejs', { title: title } ) %>
</head>
<body>

<%- await include('views/templates/navbar.ejs') %>

<main class="main_content">
  
</main>

<%- await include('views/templates/footer.ejs') %>
