<%- await include('views/templates/head.ejs', { title: title }) %>
  <link rel="stylesheet" href="css/not_found.css">
</head>
<body>
  <%- await include('views/templates/navbar.ejs') %>

  <div class="not_found">
    <h2>Sorry, the page you've requested does not exist</h2>
    <a href="/">Back to safe grounds</a>
  </div>
  
<%- await include('views/templates/footer.ejs') %>