<%- await include('views/templates/head.ejs', { title: title }) %>

</head>
<body>
  <%- await include('views/templates/navbar.ejs') %>

  <div>
    
  </div>
  
<%- await include('views/templates/footer.ejs') %>