<header class="main_header">
  <div class="main_header__content">
    <div>
      <a href="/">pookie.one</a>
    </div>
    <nav class="main_nav">
      <ul class="main_nav__links">
        <li class="main_nav__listitem">
          <a href="https://github.com/pookiepew/deno_pookie_one" target="_blank">
            Github Repo
          </a>
        </li>
        <li class="main_nav__listitem">
          <a href="/projects">
            My Projects
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>